<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.a1313">

    <uses-feature android:name="android.hardware.bluetooth"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Especies">
        </activity>
        <activity android:name=".PageDicas">
        </activity>
        <activity android:name=".EditarPerfil1">
        </activity>
        <activity android:name=".editarPerfil">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity
                android:name=".Splash_Activity"
                android:noHistory="true"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Configuracoes">
        </activity>
        <activity android:name=".Dicas">
        </activity>
        <activity android:name=".PageUV">
        </activity>
        <activity android:name=".PageUmidade">
        </activity>
        <activity android:name=".Page3">
        </activity>
        <activity android:name=".Page2">
        </activity>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>